.tailor-paisley-lg-loud {
	background-size: 404px;
	background-image: url(../images/paisley/paisley-lg-loud.png);
}
.tailor-paisley-lg {
	background-size: 404px;
	background-image: url(../images/paisley/paisley-lg.png);
}
.tailor-paisley-lg-soft {
	background-size: 404px;
	background-image: url(../images/paisley/paisley-lg-soft.png);
}
.tailor-paisley-loud {
	background-size: 202px;
	background-image: url(../images/paisley/paisley-loud.png);
}
.tailor-paisley {
	background-size: 202px;
	background-image: url(../images/paisley/paisley.png);
}
.tailor-paisley-soft {
	background-size: 202px;
	background-image: url(../images/paisley/paisley-soft.png);
}